* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.colum {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.roe:after {
  content: "";
  display: table;
  clear: both;
}